<style type="text/css">
body{
	font: 10pt sans-serif;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
	overflow:hidden;
	padding:0px;
	border:0px;
	margin:0px;
	position:fixed;
	width:100%;
	height:100%;
	min-width:5px;
}
.page{
   position: absolute;
   top: 20px;
   left: 0%;
   width:100%;
   visibility: hidden;
   	min-width:5px;
}

.questions{
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
	text-align:center;
	padding:0px;
	margin:0px;	
	z-index:5;
}

.menu {
	position:absolute;
	bottom:40px;
	width:100%;
	padding:0px;
	margin:0px;
	z-index:999;
}


.navbuttons {
	position:absolute;
	bottom:0px;
	width:100%;
	padding:0px;
	margin:0px;
	
}


.buttons{
	padding:0px;
	margin:0px;	
}

.buttons button{

	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;

	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:10px;

	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 0px 6px 0px; /* Links */
	
	
	position: static;
	bottom:0px;	
	float:left;
	margin:0px;	
	
	width:33.24%;
	

}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons button.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons button.negative{
    color:#d12f19;
}
.buttons button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}

.buttons button.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular{
    color:#336699;
}
.buttons button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons button.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* MENU */

button.menu{
    color:#336699;
	bottom:30px;	
}
.buttons button.menu:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons button.menu:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}





/* METER */

.meter1 {
	position:absolute;
	top:0px;
	width:100%;
	padding:0px;
	margin:0px;	
}
.meter2{
	position:static;
	top:0px;
	width:100%;
	padding:0px;
	margin:0px;	
}

.meter-wrap, .meter-value, .meter-text{	
	position: absolute;
	padding:0px;
	margin:0px;	
	top:0px;
	left:0px;
    /* The width and height of your image */
    width: 100%; 
	height: 14px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd;	
}

.meter-wrap{
    border:1px solid #787878;
	z-index:0;
}

.meter-value {
	border-top:1px solid #787878;
	border-left:1px solid #787878;
	border-bottom:1px solid #787878;
	background-color: #33CC33;
	width: 0%;
	z-index:1;
}
			
			
.meter-text {
    z-index:2;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;

    padding: 0px;
                
    color: #fff;
    text-align: center;
    width: 100%;
       
}
</style>
